<template>
  <div>
    <app-navigation></app-navigation>
    <Nuxt class="pt-20 bg-gray-100" />
    <app-footer></app-footer>
    <app-back-to-top />
    <client-only>
      <tailwind-helper />
    </client-only>
  </div>
</template>

<script>
import AppNavigation from '@/components/layouts/AppNavigation.vue'
import AppFooter from '@/components/layouts/AppFooter'
import AppBackToTop from '@/components/layouts/AppBackToTop'

export default {
  name: 'LayoutDefault',
  components: {
    AppNavigation,
    AppFooter,
    AppBackToTop,
  },
}
</script>
