<template>
  <div class="min-h-screen">
    <div v-if="dataLoad" class="container">
      <div v-if="weather.current">
        <current-weather :weather="weather.current"></current-weather>
        <div class="grid grid-cols-1 gap-5 my-5 lg:grid-cols-2">
          <div class="my-5">
            <line-chart
              :data="hourlyTemperatureChartData"
              :options="hourlyTemperatureChartOptions"
              :height="200"
            />
          </div>
          <div class="my-5">
            <line-chart
              :data="dailyTemperatureChartData"
              :options="dailyTemperatureChartOptions"
              :height="200"
            />
          </div>
        </div>
      </div>
      <div class="mt-10">
        <div class="text-4xl font-bold text-center text-gray-600">
          Jours suivants
        </div>
        <daily-swiper class="mt-8">
          <!-- 
        <div v-for="banner in banners" :key="banner" class="swiper-slide">
        <img :src="banner" />
      </div> -->
          <daily-weather
            v-for="daily in weather.daily"
            slot="swiper"
            :key="daily.id"
            class="shadow swiper-slide"
            :weather="daily"
          ></daily-weather>
        </daily-swiper>
      </div>

      <div
        class="grid grid-cols-1 gap-5 mt-5 text-left md:grid-cols-2 lg:grid-cols-3"
      ></div>
      <!-- <div class="p-5 my-5 bg-gray-300 rounded-md">
        <div>hourly</div>
        <div class="overflow-x-hidden h-96">
          <pre>{{ weather.hourly }}</pre>
        </div>
      </div>
      <div class="p-5 my-5 bg-gray-300 rounded-md">
        <div>daily</div>
        <div class="overflow-x-hidden h-96">
          <pre>{{ weather.daily }}</pre>
        </div>
      </div> -->
    </div>
    <div v-else>
      <div class="absolute center-it">
        <icon
          name="loading"
          :size="50"
          svg-class="animate-spin"
          class="bg-transparent"
        />
      </div>
    </div>
  </div>
</template>

<script>
import CurrentWeather from '@/components/blocks/CurrentWeather.vue'
import DailyWeather from '@/components/blocks/DailyWeather.vue'
import DailySwiper from '@/components/blocks/DailySwiper.vue'
export default {
  name: 'HomeIndex',
  components: {
    CurrentWeather,
    DailyWeather,
    DailySwiper,
  },
  data() {
    return {
      dataLoad: false,
      weather: {},
      dailyTemperatureChartData: {},
      dailyTemperatureChartOptions: {
        responsive: true,
        legend: {
          display: true,
        },
        title: {
          display: true,
          text: 'Température des jours à venir',
          fontSize: 24,
          fontColor: '#6b7280',
        },
        tooltips: {
          backgroundColor: '#17BF62',
        },
        scales: {
          xAxes: [
            {
              gridLines: {
                display: false,
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
              gridLines: {
                display: false,
              },
            },
          ],
        },
      },
      hourlyTemperatureChartData: {},
      hourlyTemperatureChartOptions: {
        responsive: true,
        legend: {
          display: true,
        },
        title: {
          display: true,
          text: 'Température pendant la journée',
          fontSize: 24,
          fontColor: '#6b7280',
        },
        tooltips: {
          backgroundColor: '#17BF62',
        },
        scales: {
          xAxes: [
            {
              gridLines: {
                display: false,
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
              gridLines: {
                display: false,
              },
            },
          ],
        },
      },
    }
  },
  async created() {
    this.weather = await this.getWeather()
  },
  methods: {
    async getWeather() {
      const currentDate = new Date()
      console.log(currentDate)
      const lastDate = this.$store.state.lastDate
      if (lastDate === null) {
        this.$store.commit('setLastDate', currentDate)
      }
      console.log(currentDate)
      console.log(lastDate)
      const diff = this.$differenceBetweenTwoDate(
        currentDate,
        this.$store.state.lastDate
      )
      console.log(diff.time)
      let weatherDetails = {}
      if (
        diff.time > 3600 ||
        (Object.keys(this.$store.state.weather).length === 0 &&
          this.$store.state.weather.constructor === Object)
      ) {
        const lat = process.env.WEATHER_LAT
        const lon = process.env.WEATHER_LON
        const units = 'metric'
        const apiKey = process.env.WEATHER_API_KEY
        const baseUrl = `https://api.openweathermap.org/data/2.5/onecall?lat=${lat}&lon=${lon}&exclude=minutely&appid=${apiKey}&units=${units}`

        const weather = await this.$http.get(baseUrl)
        weatherDetails = await weather.json()

        this.$store.commit('setWeather', weatherDetails)
      } else {
        this.dataLoad = true
        weatherDetails = this.$store.state.weather
      }

      // setup chart form daily temps
      // const days = []
      // weatherDetails.daily.forEach((day) => {
      //   days.push(day.temp.day)
      // })
      const min = []
      weatherDetails.daily.forEach((day) => {
        min.push(day.temp.min)
      })
      const max = []
      weatherDetails.daily.forEach((day) => {
        max.push(day.temp.max)
      })
      // const night = []
      // weatherDetails.daily.forEach((day) => {
      //   night.push(day.temp.night)
      // })
      const milliseconds = weatherDetails.current.dt * 1000
      let dateTime = new Date(milliseconds)
      dateTime = new Date(dateTime)
      const dailyTemperatureChartData = {
        labels: this.days(dateTime),
        datasets: [
          {
            label: 'Minimale (°C)',
            backgroundColor: '#feb2b2',
            data: min,
          },
          // {
          //   label: 'De nuit (°C)',
          //   backgroundColor: '#2b6cb0',
          //   data: night,
          // },
          // {
          //   label: 'En moyenne (°C)',
          //   backgroundColor: '#f87979',
          //   data: days,
          // },
          {
            label: 'Maximale (°C)',
            backgroundColor: '#f56565',
            data: max,
          },
        ],
      }
      this.dailyTemperatureChartData = dailyTemperatureChartData

      const hourly = []
      weatherDetails.hourly.forEach((hour) => {
        let formatHour = this.$getDateTime(hour.dt).time
        formatHour = formatHour.split(':')
        formatHour = `${formatHour[0]}:${formatHour[1]}`
        hourly.push(formatHour)
      })
      const temp = []
      weatherDetails.hourly.forEach((hour) => {
        temp.push(hour.temp)
      })
      const humidity = []
      weatherDetails.hourly.forEach((hour) => {
        humidity.push(hour.feels_like)
      })
      const hourlyTemperatureChartData = {
        labels: hourly.slice(0, 14),
        datasets: [
          {
            label: 'Ressentie (°C)',
            backgroundColor: '#feb2b2',
            data: humidity.slice(0, 14),
          },
          {
            label: 'En moyenne (°C)',
            backgroundColor: '#f87979',
            data: temp.slice(0, 14),
          },
        ],
      }
      this.hourlyTemperatureChartData = hourlyTemperatureChartData

      this.dataLoad = true
      return weatherDetails
    },
    days(current) {
      const week = []
      // Starting Monday not Sunday
      const first = current.getDate()
      current.setDate(first)
      const options = {
        weekday: 'long',
        // month: 'long',
        day: 'numeric',
      }
      const userLang = navigator.language || navigator.userLanguage
      for (let i = 0; i < 7; i++) {
        week.push(new Date(+current).toLocaleString(userLang, options))
        current.setDate(current.getDate() + 1)
      }
      return week
    },
  },
  head() {
    return {
      title: 'Storm',
      titleTemplate: '',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Ma description personnalisée',
        },
      ],
    }
  },
}
</script>
