<template>
  <nav
    class="fixed top-0 z-40 w-full bg-white border-b dark:border-gray-800 dark:bg-gray-900"
  >
    <div class="container flex-1 px-4 mx-auto lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center pr-4 mx-auto lg:w-1/5">
          <nuxt-link
            :to="{ name: 'home' }"
            aria-current="page"
            aria-label="Nuxt Content Logo"
            class="flex mx-auto text-xl font-bold nuxt-link-exact-active nuxt-link-active"
          >
            <div class="flex justify-center max-h-max-content">
              <icon name="storm" :size="40" />
              <div class="ml-2 text-2xl font-quicksand">Storm</div>
            </div>
            <!-- <div class="h-8"> -->
            <!-- <LogoMemo></LogoMemo> -->
            <!-- <img
                src="/logo-light.svg"
                alt="Nuxt Content"
                class="h-8 max-w-full light-img"
              />
              <img
                src="/logo-dark.svg"
                alt="Nuxt Content"
                class="h-8 max-w-full dark-img"
              /> -->
            <!-- </div> -->
          </nuxt-link>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import ClickOutside from 'vue-click-outside'

export default {
  name: 'AppNavbar',
  directives: {
    ClickOutside,
  },
  data() {
    return {
      query: '',
      articles: [],
    }
  },
  methods: {
    hideSearch() {
      this.articles = []
      this.query = ''
    },
  },
}
</script>

<style>
.nuxt-content pre {
  word-break: break-all !important;
  white-space: break-spaces !important;
}
.nuxt-content code {
  padding-left: 0;
}
</style>
