<template>
  <div class="overflow-hidden bg-white rounded-lg shadow">
    <div class="px-2 py-3 sm:p-3">
      <div class="flex">
        <div class="flex-shrink-0 p-3 mb-auto bg-indigo-500 rounded-md">
          <!-- Heroicon name: users -->
          <icon slot="icon" :name="icon" :size="30" />
        </div>
        <div class="flex-1 w-0 ml-5">
          <dl>
            <dt class="text-sm font-medium leading-5 text-gray-500 truncate">
              {{ title }}
            </dt>
            <dd v-if="data">
              <div v-for="info in data" :key="info.id" class="text-gray-700">
                <span v-if="info.label">{{ info.label }}</span>
                <span class="font-semibold leading-8 text-gray-900">
                  {{ valueOutput(info.value, info.type) }}
                </span>
              </div>
            </dd>
            <div v-else>No data</div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CurrentWeatherType',
  props: {
    title: {
      type: String,
      default: '',
    },
    icon: {
      type: String,
      default: '',
    },
    data: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    valueOutput(value, type) {
      let output = ''
      switch (type) {
        case 'time':
          output = this.$timestampToDatetime(value).time
          break
        case 'temperature':
          output = `${value}°C`
          break

        case 'meterPerSecond':
          output = `${value} m/s`
          break

        case 'degrees':
          output = `${value}°`
          break

        case 'percentage':
          output = `${value}%`
          break

        case 'km':
          output = `${value / 1000} km`
          break

        case 'hpa':
          output = `${value} hPa`
          break

        default:
          output = value
          break
      }

      return output
    },
  },
}
</script>
