<template>
  <div
    class="bg-no-repeat bg-cover rounded-lg"
    :class="`bg-${$slugify(weather.weather[0].icon)}`"
  >
    <div class="p-6 text-center bg-black bg-opacity-75 rounded-lg xl:px-10">
      <div class="space-y-3 text-white xl:space-y-5">
        <div class="mt-8 mb-16">
          <div class="text-lg text-white">Rennes, France</div>
          <div class="flex h-40 mx-auto my-auto rounded-full xl:w-56 xl:h-56">
            <div class="flex items-center mx-auto">
              <!-- <icon name="cloud" :size="80" class="mx-2 max-h-max-content" /> -->
              <img
                :src="`http://openweathermap.org/img/wn/${weather.weather[0].icon}@2x.png`"
                :alt="weather.weather[0].description"
              />
              <div class="mx-2 text-5xl max-h-max-content">
                {{ weather.temp }}°C
              </div>
            </div>
          </div>
          <!-- <div class="text-white">
            <div
              v-for="weatherItem in weather.weather"
              :key="weatherItem.id"
              class="flex justify-center"
            >
              <div class="mx-2">
                {{ weatherItem.main }}
              </div>
              <div class="mx-2">
                {{ weatherItem.description }}
              </div>
            </div>
          </div> -->
          <div class="space-y-2">
            <div class="space-y-1 text-lg font-medium leading-6">
              <h4 class="text-white">
                {{ $getDateTime(weather.dt).date }}
              </h4>
              <p class="text-indigo-400">
                Dernière mise à jour {{ $getDateTime(weather.dt).time }}
              </p>
            </div>
          </div>
        </div>
        <div>
          <div
            class="grid grid-cols-1 gap-5 mt-5 text-left md:grid-cols-2 lg:grid-cols-3"
          >
            <current-weather-type
              title="Soleil"
              icon="sunset"
              :data="[
                {
                  label: 'Se lève à',
                  value: weather.sunrise,
                  type: 'time',
                },
                {
                  label: 'Se couche à',
                  value: weather.sunset,
                  type: 'time',
                },
                {
                  label: 'Indice UV',
                  value: weather.uvi,
                },
              ]"
            ></current-weather-type>
            <current-weather-type
              title="Température"
              icon="temperature-high"
              :data="[
                {
                  label: 'Effective',
                  value: weather.temp,
                  type: 'temperature',
                },
                {
                  label: 'Ressentie',
                  value: weather.feels_like,
                  type: 'temperature',
                },
                {
                  label: 'Atmosphérique',
                  value: weather.dew_point,
                  type: 'temperature',
                },
              ]"
            ></current-weather-type>
            <current-weather-type
              title="Humidité"
              icon="humidity"
              :data="[
                {
                  value: weather.humidity,
                  type: 'percentage',
                },
              ]"
            ></current-weather-type>
            <current-weather-type
              title="Vent"
              icon="wind"
              :data="[
                {
                  label: 'Vitesse',
                  value: weather.wind_speed,
                  type: 'meterPerSecond',
                },
                {
                  label: 'Direction',
                  value: weather.wind_deg,
                  type: 'degrees',
                },
              ]"
            ></current-weather-type>
            <current-weather-type
              title="Nuages"
              icon="cloud"
              :data="[
                {
                  label: 'Couverture',
                  value: weather.clouds,
                  type: 'percentage',
                },
                {
                  label: 'Visibilité',
                  value: weather.visibility,
                  type: 'km',
                },
              ]"
            ></current-weather-type>
            <current-weather-type
              title="Pression"
              icon="pressure"
              :data="[
                {
                  value: weather.pressure,
                  type: 'hpa',
                },
              ]"
            ></current-weather-type>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CurrentWeatherType from '@/components/blocks/CurrentWeatherType.vue'
export default {
  name: 'CurrentWeather',
  components: {
    CurrentWeatherType,
  },
  props: {
    // dateTime: {
    //   type: String,
    //   default: '',
    // },
    weather: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

<style scoped>
.text-on-img-tailwind .source::after {
  @apply absolute top-0 left-0 right-0 bottom-0 w-full max-w-full bg-black bg-opacity-75 rounded-lg;
  content: '';
}
</style>
