<template>
  <div class="relative pb-10">
    <div v-swiper:mySwiper="swiperOption">
      <div class="pb-10 swiper-wrapper">
        <slot name="swiper" />
      </div>
      <div class="w-full swiper-pagination" style="bottom: 0rem"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DailySwiper',
  data() {
    return {
      swiperOption: {
        slidesPerView: 1,
        slidesPerGroup: 1,
        breakpoints: {
          800: {
            slidesPerView: 2,
            slidesPerGroup: 2,
          },
          1100: {
            slidesPerView: 3,
            slidesPerGroup: 3,
          },
        },
        spaceBetween: 10,
        pagination: {
          el: '.swiper-pagination',
        },
      },
    }
  },
  mounted() {
    console.log('Current Swiper instance object', this.mySwiper)
    // this.mySwiper.slideTo(3, 1000, false)
  },
}
</script>
