<template>
  <div class="overflow-hidden rounded-lg shadow">
    <div class="px-2 py-1 sm:p-1">
      <div class="flex">
        <!-- <div class="flex-shrink-0 p-3 mb-auto bg-indigo-500 rounded-md">
          <icon slot="icon" :name="icon" :size="30" />
        </div> -->
        <div class="flex-1 w-0 ml-5">
          <dl>
            <dt
              class="text-sm font-medium leading-5 text-gray-200 truncate"
              :class="data.length < 2 ? 'text-base' : 'text-sm'"
            >
              <span>{{ title }}</span>
              <span
                v-if="data.length < 2"
                class="font-semibold leading-8 text-gray-100"
              >
                : {{ valueOutput(data[0].value, data[0].type) }}
              </span>
            </dt>
            <dd v-if="data">
              <div v-if="data.length > 1">
                <div v-for="info in data" :key="info.id" class="text-gray-400">
                  <span v-if="info.label">{{ info.label }}</span>
                  <span class="font-semibold leading-8 text-gray-100">
                    {{ valueOutput(info.value, info.type) }}
                  </span>
                </div>
              </div>
            </dd>
            <div v-else>No data</div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DailyWeatherType',
  props: {
    title: {
      type: String,
      default: '',
    },
    icon: {
      type: String,
      default: '',
    },
    data: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    valueOutput(value, type) {
      let output = ''
      switch (type) {
        case 'time':
          output = this.$timestampToDatetime(value).time
          break
        case 'temperature':
          output = `${value}°C`
          break

        case 'meterPerSecond':
          output = `${value} m/s`
          break

        case 'degrees':
          output = `${value}°`
          break

        case 'percentage':
          output = `${value}%`
          break

        case 'km':
          output = `${value / 1000} km`
          break

        case 'hpa':
          output = `${value} hPa`
          break

        default:
          output = value
          break
      }

      return output
    },
  },
}
</script>
