<template>
  <div
    class="bg-no-repeat bg-cover rounded-lg"
    :class="`bg-${$slugify(weather.weather[0].icon)}`"
  >
    <div class="p-6 text-center bg-black bg-opacity-75 rounded-lg xl:px-10">
      <div class="space-y-3 text-white xl:space-y-5">
        <div class="mt-8 mb-4">
          <div class="text-lg text-white">
            {{ $getDateTime(weather.dt).date }}
          </div>
          <div class="flex h-32 mx-auto my-auto rounded-full">
            <div class="flex items-center mx-auto">
              <img
                :src="`http://openweathermap.org/img/wn/${weather.weather[0].icon}@2x.png`"
                :alt="weather.weather[0].description"
              />
              <div class="mx-2 text-5xl max-h-max-content">
                {{ weather.temp.day }}°C
              </div>
            </div>
          </div>
          <div>
            <div v-if="weather.weather[0].main === 'Rain'">Alert: rain</div>
            <div v-else>
              <br />
            </div>
          </div>
        </div>
        <div>
          <div class="grid grid-cols-1 gap-1 mt-5 text-left">
            <daily-weather-type
              title="Soleil"
              icon="sunset"
              :data="[
                {
                  label: 'Se lève à',
                  value: weather.sunrise,
                  type: 'time',
                },
                {
                  label: 'Se couche à',
                  value: weather.sunset,
                  type: 'time',
                },
              ]"
            ></daily-weather-type>
            <daily-weather-type
              title="Température"
              icon="temperature-high"
              :data="[
                {
                  label: 'Effective',
                  value: weather.temp.day,
                  type: 'temperature',
                },
                {
                  label: 'Ressentie',
                  value: weather.feels_like.day,
                  type: 'temperature',
                },
              ]"
            ></daily-weather-type>
            <daily-weather-type
              title="Humidité"
              icon="humidity"
              :data="[
                {
                  value: weather.humidity,
                  type: 'percentage',
                },
              ]"
            ></daily-weather-type>
            <daily-weather-type
              title="Vent"
              icon="wind"
              :data="[
                {
                  label: 'Vitesse',
                  value: weather.wind_speed,
                  type: 'meterPerSecond',
                },
              ]"
            ></daily-weather-type>
            <daily-weather-type
              title="Nuages"
              icon="cloud"
              :data="[
                {
                  label: 'Couverture',
                  value: weather.clouds,
                  type: 'percentage',
                },
              ]"
            ></daily-weather-type>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DailyWeatherType from '@/components/blocks/DailyWeatherType.vue'
export default {
  name: 'DailyWeather',
  components: {
    DailyWeatherType,
  },
  props: {
    // dateTime: {
    //   type: String,
    //   default: '',
    // },
    weather: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

<style scoped>
.text-on-img-tailwind .source::after {
  @apply absolute top-0 left-0 right-0 bottom-0 w-full max-w-full bg-black bg-opacity-75 rounded-lg;
  content: '';
}
</style>
